.screen {
    width: 28%;
    height: 90px;
    background-color: #fff;
    transform: rotateX(-45deg);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgb(232, 232, 232);
    box-shadow: 2px 2px 40px 10px rgb(192, 192, 192);
    margin: 10px 20px;
}

.screen::before {
    content: "Screen";
    font-size: 24px;
    color: black;
}

.seats {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 500px;
}

.seat {
    width: 30px;
    height: 20px;
    /* flex: 0 0 8%; */
    margin: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #d2d2d2;
}

.seat.occupied {
    background-color: #b74f4f !important;
}

.seat.selected {
    background-color: blue !important;
}

.seat:not(.occupied):hover {
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.2);
}

.seat:not(.occupied):focus {
    opacity: 0.7;
    background-color: lightblue;
}

.seat:nth-of-type(8n + 3) {
    margin-left: 30px;
}

.seat:nth-of-type(8n + 7) {
    margin-left: 30px;
}

.total {
    display: flex;
    margin-top: 40px;
}

.total span {
    margin-right: 30px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.booking-sections {

}

.left-booking {
    padding: 100px 100px;
    width: 40%;
    text-align: center;
    float: left;
}

.right-booking {
    padding: 0px 100px;
    width: 30%;
    max-height: 90%;
    text-align: center;
    float: right;
    display: grid;

}

.right-booking img {
    height: 111px;
    float: right;
}
