.screen {
    width: 103%;
    height: 40px;
    background-color: #fff;
    transform: rotateX(-45deg);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgb(232, 232, 232);
    box-shadow: 2px 2px 30px 2px rgb(192, 192, 192);
    margin-top: 10px;
    text-align: center;
}

.screen::before {
    content: "Screen";
    font-size: 24px;
    color: black;
}

.seats {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 500px;
}

.seat {
    width: 30px;
    height: 20px;
    /* flex: 0 0 8%; */
    margin: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #d2d2d2;
}

.seat.occupied {
    background-color: #b74f4f !important;
}

.seat.selected {
    background-color: blue !important;
}

.seat:not(.occupied):hover {
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.2);
}

.seat:not(.occupied):focus {
    opacity: 0.7;
    background-color: lightblue;
}

.seat:nth-of-type(8n + 3) {
    margin-left: 60px;
}

.seat:nth-of-type(8n + 7) {
    margin-left: 60px;
}

.total {
    display: flex;
    margin-top: 40px;
}

.total span {
    margin-right: 30px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
}

.booking-sections {

}

.left-booking {
    padding: 30px 100px;
    width: 40%;
    text-align: left;
    float: left;
}

.right-booking {
    position: fixed;
    top: -5%;
    left: 61%;
    margin-top: 200px;
    margin-right: 30px;
    padding: 40px 40px;
    width: 30%;
    max-height: 90%;
    text-align: center;
    float: right;
    display: grid;
    background: #252527;
    border-radius: 10px;
}

.right-booking img {
    height: 111px;
    float: right;
}

.time-button:active {
    background: rebeccapurple;
    cursor: pointer;
}

.time-button {
    background: white;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    padding: 4px 12px;
}

.time-button:hover,
.time-button:active {
    background-color: #e8b6b6;
    color: #232323;
}

.time-button.active {
    background-color: #d5302e;
    color: #ffffff;
    font-weight: bold;
}

.date-pick {

}

.time-pick {

}

.seat-pick {

}

.booking-details--img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.booking-details--img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.booking-details--film-rules {
    color: red;
}

.booking-details--film-categories {
    color: white;
}

.booking-details--film-categories {
    color: white;
}

.booking-details--film-categories {
    color: white;
    opacity: 0.7;
}

.booking-details--film-production {
    color: white;
    opacity: 0.7;
}
