@import url('seatpick.css');
@import url('ticketinfo.css');

.booking-sections {
    padding: 35px 100px;
}

.left-booking {
    width: 40%;
    text-align: left;
    float: left;
}

.right-booking {
    position: fixed;
    top: -5%;
    left: 61%;
    margin-top: 200px;
    margin-right: 30px;
    padding: 40px 40px;
    width: 29%;
    max-height: 90%;
    text-align: center;
    float: right;
    display: grid;
    background: #252527;
    border-radius: 10px;
}

.right-booking img {
    height: 111px;
    float: right;
}

.time-button:active {
    background: rebeccapurple;
    cursor: pointer;
}

.time-button {
    background: #ede8e8;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    padding: 4px 16px;
}

.time-button:hover,
.time-button:active {
    background-color: lightblue;
    color: #232323;
}

.time-button.active {
    background-color: #d5302e;
    color: #ffffff;
}

.date-pick {

}

.time-pick {

}

.seat-pick {

}

.booking-details--img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.booking-details--img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.booking-details--film-rules {
    color: #f10b0b;
    font-size: 14px;
    font-style: italic;
}

.booking-details--film-categories {
    color: white;
}

.booking-details--film-categories {
    color: white;
}

.booking-details--film-categories {
    color: white;
    opacity: 0.7;
}

.booking-details--film-production {
    color: white;
    opacity: 0.7;
}

.booking-details--ticket-details {
    color: white;
}

.booking-details--ticket-details div span {

}

.booking-details--film-description {
    color: white;
    opacity: 0.7;
    width: 200px;
    height: 3.9rem; /* 3 lines of text, assuming a line height of 1.2em */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.booking-details--film-name {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.booking-details--checkout-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.payment-label {
    color: #040d23;
    font-style: italic;
    text-decoration: underline;
    font-size: 16px;
}

.checkout-success {
    margin: 7%;
}

.checkout-success-img {
    width: 140px;
}

#sign-out-button {
    text-align: center;
    color: white;
    border: none;
    background: unset;
}

#sign-out-button:hover {
    font-weight: bold;
}

.ant-spin .ant-spin-dot-item {
    background: white;
}

.auth-form {
    width: 30rem;
    padding: 30px 10px;
}

.logout-btn {
    padding: 0 0;
}

.my-tickets-table {
    padding: 0 80px;
}

#banner-img {
    width: 100%;
    height: 400px;
    object-fit: cover
}

#banner-container {
    position: relative;
}

#banner-text {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%) translateX(-10px);
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px black;
    z-index: 1;
}

.movie-img {
    width: 100%;
    max-height: 368px;
    object-fit: cover;
    border-radius: 5px;
}

.film-name-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
