.screen {
    width: 103%;
    height: 25px;
    background-color: #efefef;
    transform: rotateX(-45deg);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgb(232, 232, 232);
    box-shadow: 2px 2px 30px 2px rgb(192, 192, 192);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.screen::before {
    content: "Screen";
    font-size: 20px;
    color: black;
}

.seats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 103%;
}

.seat {
    width: 30px;
    height: 20px;
    flex: 0 0 8%;
    margin: 4px 6px;
    padding: 1px 2px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}

.seat.occupied {
    background-color: #909090 !important;
}

.seat.selected {
    background-color: #d5302e !important;
    color: white;
}

.seat:not(.occupied):hover {
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.2);
}

.seat:not(.occupied):focus {
    opacity: 0.7;
    background-color: lightblue;
}

.seat:nth-of-type(8n + 3) {
    margin-left: 7%;
}

.seat:nth-of-type(8n + 7) {
    margin-left: 7%;
}

